h1 {
  color:red;
  font-style:italic;
  font-family:sans-serif;
  text-align:center
}
h2 {
  color:crimson;
  font-family:sans-serif;
  text-align:center
}
p {
  color:black;
  font-family:sans-serif;
  text-align:center
}
body {
  background-color:maroon
}